@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* light mode pallete */
	--primary: #4469b4;
	--text: #0e0e0e;
	--whites: #f7f7f7;
	--greys: #6a6767;
	--reds: #f24822;
	--greens: #46c1ba;
	--disabled: #999999;

	/* dark mode pallete */
	--primary-dark: #182236;
	--secondary-dark: #699afd;
	--whites-dark: #ededed;
	--card-bg-dark: #1e2a42;
	--accents: #00cccc;
	--inputborder: #679aff;
	--reds: #ff7657;
	--disabled: #cfcfcf;
}
.whitespace-pre-line {
	white-space: pre-line;
}
